@font-face{
    font-family: cooper;
    src: url(https://kepslok.github.io/ebay/Cooper_Std_Black.ttf);
}
#body{
    text-align: center;
    background-color: white;
}
#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
    box-shadow:  0 -250px 100px rgba(0, 0, 0, 0.3);
}
h1{
    font-family: cooper, Verdana, Tahoma;
    font-weight: bold;
    font-size: 3em;
}
h3{
    font-style: oblique;
}
hr{
    clear: both;
    color: dimgrey;
    margin-top: 60px;
}
#zoekertje{
    margin-bottom: 20px;
    margin-top: 20px;
    
    overflow: hidden;
}
#navbar{
    width: 98%;
    height: 100px;
    background-color: white;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
}
#navbar > img{
    max-height: 100%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.bar{
    /*background-image: url(../images/bar.jpg);*/
    background-image: repeating-linear-gradient(rgb(255,255,255), rgb(0,154,13));
    margin-top: 35px;
    text-align: center;
    font-family: cooper, Verdana, Tahoma;
    
}
.bar2{
    /*background-image: url(../images/bar.jpg);*/
    background-image: repeating-linear-gradient(rgb(255,255,255), rgb(0,154,13));
    margin-top: 35px;
    text-align: center;
    font-family: cooper, Verdana, Tahoma;
    display: inline-block;
    width: 50%;
    
}
.bar > p{

    
}
#specification{
    float:right;
    width: 50%;
    margin-top: 35px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}
#specification > ul > li{
    margin-top: 12px;
}
.afbeelding{
    /*width: 50%;*/
    width: 100%;
}
.afbeeldingdiv{
    float: left;
    width: 50%;
    
}
#mondial_Relay{
    width:50%;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    /*font-size: 1.5em;*/
    font-weight: bold;
    text-align: left;
}
#shipping{
    float:left;
    overflow: hidden;
    width: 50%;
    text-align: left;
    clear:left;
    margin-left: 10px;
    font-weight: 200;
}
.titel{
    /*max-height: 100%;*/
    font-size: 25pt;
    font-weight: 50;
    margin-top:1%;
    margin-bottom: 1%;
    color: white;
    display: inline-block;
}
.ondertitel{
    font-size: 1.5em;
    font-weight: 50;
    color: white;
    margin-top:1%;
    margin-bottom: 1%;
    color: white;
    display: inline-block;
}
#questions{
    float:right;
    width: 50%;
    text-align: left;
    clear:left;
    margin-right: 10px;
}
